body {
    margin:0px;
    padding:0px;
}

.material-icons {
    
}


nav-bar-wrapper {
    display:block;
    width:100%;
}

.navbar {
    display: flex;
    width: 100%;
}

.nav-bar-top-row {
    display: flex;
    width: 100%;
}

a.navbar-brand:visited{
    font-size: 34px;
    color: #F1651F;
    padding-left: 40px;
}
.form-inline {
    width: auto;
}

.form-control {
    width:auto;
}

form.search-bar input[type=text] {
    padding:20px;
    width:600px;
    height:50px;
    border:1px solid grey;
    border-right:none;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    background-color:#EEEEEE;
    outline:none;
    float:left;
}

form.search-bar button {
    float: left;
    height: 50px;
    width: 75px;
    background-color: #EEEEEE;
    border: 1px solid grey;
    border-left: none;
    outline: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.navbar-signin {
    padding: 20px;
    color: #222222;
    height: 30px;
    border-radius: 25px;
    width:80px;
    margin-left:10px;
    padding:0px;
    border:none;
    background-color:transparent;
}

.navbar-signin:hover {
    background-color:#EEEEEE;
}

.navbar-cart {
    background-color:transparent;
    border:none;
    border-radius:25px;
}

.navbar-cart:hover {
    background-color: #EEEEEE;
}